@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    color: black;
    font-family: 'Poppins', sans-serif;
}

/*------------ Página Inicial ------------*/
/*Navbar*/
.navebar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5rem;
}

.navebar {
    background-color: #79A89F;
    overflow: hidden;
}

.navbar-logo {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.8rem;
    transition: 0.2s;
}

.navbar-logo:hover {
    color: #306B60;
}

.navbar-link {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navbar-link a {
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-decoration: none;
    color: black;
    margin-left: 1.5rem;
    transition: 0.2s;
}

.navbar-link a:hover {
    color: #306B60;
}

/*Banner*/
#banner {
    /*padding: 2rem 5rem;*/
    background-color: #79A89F;
}

.banner-container {
    display: flex;
    justify-content: space-between;
}

.textos-banner {
    padding: 5rem 5rem;
    width: 50%;
}

.frase-efeito {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1375rem;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.banner-container p {
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    margin-bottom: 4rem;
}

.banner-container a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    background-color: #306B60;
    border: 5px solid #306B60;
    border-radius: 0.9375rem;
    padding: 0.7rem;
    transition: 0.2s;
}

.banner-container a:hover {
    background-color: #79A89F;
    color: #306B60;
    border: 5px solid #306B60;
    font-weight: 500;
}

/*Sobre da Página inicial*/
.sobre-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    border-bottom: 1.5px solid #D0D0D0;
}

.adimo-titulo {
    font-size: 1.625rem;
    font-weight: 400;
    letter-spacing: 0.40625rem;
    text-align: center;
    border: 1px solid #D0D0D0;
    padding: 2rem;
}

.titulo-sobre {
    display: flex;
    align-items: center;
    margin-top: 3rem;
}

.linha {
    border-top: 1px solid #D0D0D0;
    width: 34rem;
}

.sobre-container p {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    margin-top: 3rem;
    padding: 0 15rem;
    line-height: 1.5;
}

.sobre-container a {
    color: white;
    background-color: #306B60;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
    text-decoration: none;
    padding: 1rem;
    border-radius: 0.9375rem;
    margin-top: 3rem;
    border: 5px solid #306B60;
    transition: 0.2s;
}

.sobre-container a:hover {
    background-color: white;
    color: #306B60;
    border: 5px solid #306B60;
    font-weight: 500;
}

/*Recém lançados*/
#recem-lancados {
    padding: 2rem 5rem;
}

.lancados-container-1 {
    display: flex;
    justify-content: space-between;
}

.lancados-container-2 {
    display: flex;
    justify-content: space-between;
}


.lancados-titulo {
    font-size: 1.625rem;
    font-weight: 400;
    letter-spacing: 0.1625rem;
}

.card {
    margin: 2rem 1rem 0 0;
}

.titulo-card {
    display: flex;
    justify-content: space-between;
}

.card-title {
    font-size: 1rem;
    font-weight: 500;
}

.card-text {
    color: #7A7A7A;
    font-size: 1rem;
    font-weight: 500;
}

.btn {
    margin-top: 1rem;
    background-color: #306B60;
    border: 3px solid #306B60;
    border-radius: 0.9375rem;
    font-weight: 500;
}

.btn:hover {
    background-color: white;
    color: #306B60;
    border: 3px solid #306B60;
    font-weight: 500;
}

/*Footer*/
.footer-container {
    background-color: #79A89F;
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
    align-items: center;
}

.footer-container a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.8rem;
    transition: 0.2s;
}

/*-------- Imóveis --------*/
#imoveis-lancados {
    padding: 2rem 5rem;
}

.imoveis {
    display: flex;
    justify-content: space-between;
}

.imoveis-titulo {
    font-size: 1.625rem;
    font-weight: 400;
    letter-spacing: 0.1625rem;
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
}

.imoveis-container-1,
.imoveis-container-2,
.imoveis-container-3,
.imoveis-container-4,
.imoveis-container-5 {
    display: flex;
    justify-content: space-between;
}

/*-------------- Sobre ----------------*/
#sobre {
    padding: 2rem 8rem;
}

.sobre-titulo {
    text-align: center;
    font-size: 1.625rem;
    font-weight: 400;
    letter-spacing: 0.1625rem;
}

#sobre p {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 300;
    padding: 1rem 5rem;
}

.missao,
.visao,
.historia {
    margin-top: 1rem;
    display: flex;
}

/*--------------- Lista de desejos ---------------*/
#lista-desejos {
    padding: 2rem 5rem;
}

.desejos-titulo {
    font-size: 1.625rem;
    font-weight: 400;
    letter-spacing: 0.1625rem;
    text-align: center;
}

.desejos-container-1,
.desejos-container-2 {
    display: flex;
    justify-content: space-between;
}

/*------------ Login --------------*/
#login {
    padding: 2rem 20rem;
}

.login-container {
    border: 3px solid #306B60;
    padding: 2rem 2rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    font-size: 1.625rem;
    font-weight: 400;
    letter-spacing: 0.1625rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.login-form label {
    color: #306B60;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
}

.login-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 3px solid #306B60;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.botoes-login {
    display: flex;
    justify-content: space-between;
}

button {
    width: 100%;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    background-color: #306B60;
    border: 5px solid #306B60;
    border-radius: 0.9375rem;
    padding: 0.7rem;
    transition: 0.2s;
}

button:hover {
    background-color: white;
    color: #306B60;
}

/*---------- Atentende escolha -----------*/
#atendente-escolha {
    padding: 2rem 20rem;
}

.escolha-titulo {
    font-size: 1.625rem;
    font-weight: 400;
    letter-spacing: 0.1625rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.botoes-escolha {
    border: 3px solid #306B60;
    border-radius: 1.25rem;
    padding: 2rem;
    text-align: center;
}

.botao {
    margin: 3rem 10rem;
}

.botao a {
    text-decoration: none;
    background-color: #306B60;
    color: white;
    border-radius: 1.25rem;
    padding: 1rem;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 0.313rem solid #306B60;
    transition: 0.2s;
}

.botao a:hover {
    background-color: white;
    color: #306B60;
}


/*---------- Atendente Cadastro ----------*/
#cadastro {
    padding: 5rem 15rem;
}

.cadastro-container {
    border: 3px solid #306B60;
    padding: 2rem 2rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cadastro-form h2 {
    font-size: 1.625rem;
    font-weight: 400;
    letter-spacing: 0.1625rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.cadastro-form label {
    color: #306B60;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
}

.cadastro-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 3px solid #306B60;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

/*---------- Atendente Agendamento ----------*/
#agendamento {
    padding: 5rem 15rem;
}

.agendamento-container {
    border: 3px solid #306B60;
    padding: 2rem 2rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.agendamento-form h2 {
    font-size: 1.625rem;
    font-weight: 400;
    letter-spacing: 0.1625rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.agendamento-form label {
    color: #306B60;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
}

.agendamento-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 3px solid #306B60;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

/*------------- Tela Imovel -----------*/
#imovel {
    padding: 2rem 5rem;
    flex: 1;
}

.imovel-container {
    display: flex;
}

.dados-imovel {
    padding: 2rem;
    flex: 1;
}

.dados-imovel h2 {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.1625rem;
    margin-bottom: 1rem;
}

.dados-imovel p{
    margin-bottom: 1rem;
    line-height: 1.5;
}

.dados-imovel img {
    margin-right: 1rem;
    justify-content: center;
}

.descricao-titulo {
    margin-top: 2rem;
}